* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Navbar Starts */
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.logo-right-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
}

nav ul li {
  color: beige;
  font-weight: 500;
}

nav ul li:hover {
  color: coral;
}

/* // Navber Ends */

/* // Hero Grid Section Starts */

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  text-align: center;
}

.my-img {
  width: 100%;
  height: auto;
}
